<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Fontawesome CDN Link-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- AngularJS -->
    <script src="services/angular.js"></script>
    <script src="services/angular-ui-router.js"></script>
    <!-- Using AngularJS -->
    <script src="controllers/piController.js"></script>
    <script src="controllers/piEditController.js"></script>
    <script src="controllers/searchController.js"></script>
    <script src="app.js"></script>
    <script src="directives/fileModel.js"></script>
    <script src="services/multipartForm.js"></script>
    <script src="services/formFrontEndService.js"></script>
    <script src="services/checkboxSelectionService.js"></script>

    <!-- Laila's FrontEnd Rewrite -->
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      media="screen and (min-width: 1900px)"
      href="css/1900px_style.css"
    />
    <link rel="stylesheet" href="css/search.css" />

    <title>Search Redo</title>
  </head>
  <body ng-controller="mainCntrolr">
    <div class="grid gridBody">
      <header>
        <h1>إدارة شؤون الوزراء وشؤون مجلس الأمة</h1>
        <h3>شؤون مجلس الأمة</h3>
      </header>
      <main>
        <!--Grid Template Areas-->
        <!-- <ui-view></ui-view> -->

        <div class="--search-insert">
          <div class="searchBar">
            <div class="search-button">
              <input type="button" value="بحث" />
              <i class="bx bx-search-alt"></i>
            </div>

            <div class="my-recent-history-checkbox">
              <!-- <label for="my-recent">تاريخي</label> -->
              <!-- <label for="my-recent">مدخلاتي</label> -->
              <label for="my-recent">ادخالاتي</label>
              <input
                type="checkbox"
                name="my-recent"
                id="my-recent"
                class="my-recent-checkbox"
              />
            </div>

            <div class="status-buttons-wrapper">
              <div class="status-buttons">
                <input
                  class="radio__input"
                  type="radio"
                  name="complete-notComplete"
                  id="notComplete"
                  value="قيد الإنجاز"
                />
                <label class="radio__label" for="notComplete"
                  >قيد الإنجاز</label
                >

                <input
                  class="radio__input"
                  type="radio"
                  name="complete-notComplete"
                  id="complete"
                  value="منجز"
                />
                <label class="radio__label" for="complete">منجز</label>
              </div>
            </div>

            <div class="doc-type">
              <select id="docTypeDropdown" class="field search-field">
                <option value="none">-</option>
                <option value="الأسئلة البرلمانية">الأسئلة البرلمانية</option>
                <option value="الشكاوي">الشكاوي</option>
                <option value="الإقتراحات">الإقتراحات</option>
                <option value="اللجان">اللجان</option>
              </select>
            </div>
            <!-- 
ng-readonly="disabledFlags.inputs"
                        ng-class="{invalid: saveClicked && form.RID==='',inp: true}"
                        ng-model="form.RID"
                        ng-options="item.RID as item.Representatives_name for item in data.Representatives track by item.RID "
                     -->
            <div class="from-to-wrapper">
              <div class="date-to">
                <input
                  type="date"
                  name="date-to"
                  id="date-to"
                  class="field search-field"
                />
                <label for="date-to">:إلى</label>
              </div>
              <div class="date-from">
                <input
                  type="date"
                  name="date-from"
                  id="date-from"
                  class="field search-field"
                />
                <label for="date-from">:من</label>
              </div>
            </div>

            <div class="emptySpace"></div>

            <div class="searchBar-wrapper">
              <input
                class="searchBar-input field"
                type="search"
                placeholder="...بحث"
              />
              <button class="filter-button">
                <i class="bx bx-filter-alt"></i>
              </button>
            </div>
          </div>
          <!-- end of search bar -->

          <!-- start of results -->
          <div class="results-wrapper">
            <div class="results">
              <div class="selected-filters">
                
              </div>
              <div class="kitab">
                <div class="original-kitab">
                  <div class="select-result">
                    <input
                      class="result-checkbox"
                      type="checkbox"
                      name="cb1"
                      id="cb1"
                      onclick="kitabSelected(cb1)"
                    />

                    <!-- from templates/pi.html , reference for angular implementation
                      <label for="{{item.IID}}" class="checkbox-label"> {{item.Dept_name}}</label>
                      <input
                        ng-attr-id="{{'internalTitle'+item.IID}}"
                        type="checkbox"
                        class="input checkbox"
                        name="{{item.IID}}"
                        ng-readonly="disabledFlags.inputs"
                        ng-model="form.IID[item.IID]"
                        ng-click="checkBoxSelected(item.IID, 'internal')"
                      />
                     -->
                  </div>
                  <div class="status-flag complete-kitab">
                    <div class="complete-flag">
                     
                      <h4>منجز</h4>
                      <i class='bx bxs-circle'></i>
                    </div>
                    <div class="notComplete-flag">
                      
                      <h4>قيد الإنجاز</h4>
                      <i class='bx bx-circle'></i>
                    </div>
                  </div>
                  <div class="original-enum-wrapper">
                    <div class="original-enum result">
                      <h2>و ت ع / 1 / 5006</h2>
                    </div>
                    <!-- <div class="enum-redo result-">5006</div> -->
                  </div>
                  <div class="original-results">
                    <!-- <div class="date_-redo result-">Date: 1/1/2021</div> -->
                    <div class="date_ result">
                      <div>م</div>
                      <div>1/1/2021</div>
                    </div>
                    <div class="dept result">الأسئلة البرلمانية</div>
                    <div class="empName result">عبد الحسين عبد الرضا</div>
                  </div>
                 

                  <div class="kitab-buttons">
                    <div class="jar-button-wrapper">
                      <div class="jar-tooltip">
                        <span>جهات الرد جديد</span>
                      </div>
                      <button class="jar-button">
                        
                        <!-- <i class='bx bx-message-add'></i> -->
                        <i class='bx bx-plus-medical' ></i>
                      </button>
                      
                    </div>
                    <div class="kitab-edit-button">
                     

                      <button class="kitab-edit" disabled="disabled">
                        <!-- meant to link you to the edit screen for each doc -->
                        <a href="#"></a>
                        <i class="bx bxs-edit"></i>
                      </button>
                      <div class="edit-tooltip">
                        <span>تعديل</span>
                      </div>
                    </div>

                    <div class="kitab-toggle-button">
                      <button class="kitab-toggle">
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="response">
                  <div class="select-result">
                    <input
                      class="result-checkbox"
                      type="checkbox"
                      name="cb2"
                      id="cb2"
                      onclick="kitabSelected(cb2)"
                    />
                  </div>
                  <div class="status-flag complete-kitab">
                    <div class="complete-flag">
                      
                      <h4>منجز</h4>
                      <i class='bx bxs-circle'></i>
                    </div>
                    <div class="notComplete-flag">
                      <i class='bx bx-circle'></i>
                      <h4>قيد الإنجاز</h4>
                    </div>
                  </div>
                  <div class="response-enum-wrapper">
                    <div class="response-enum result">
                      <h2>5006A /</h2>
                      <h2>و ت ع / 1</h2>
                    </div>
                  </div>
                  <div class="original-results">
                    <div class="date_ result">
                      <div>م</div>
                      <div>1/1/2021</div>
                    </div>
                    <div class="dept result">الأسئلة البرلمانية</div>
                    <div class="empName result">عبد الحسين عبد الرضا</div>
                  </div>

                  <div class="kitab-edit-button">
                   
                    <button class="kitab-edit" disabled="disabled">
                      <!-- meant to link you to the edit screen for each doc -->
                      <a href="#"></a>
                      <i class="bx bxs-edit"></i>
                    </button>
                    <div class="edit-tooltip">
                      <span>تعديل</span>
                    </div>
                  </div>
                </div>
                <div class="response">
                  <div class="select-result">
                    <input
                      class="result-checkbox"
                      type="checkbox"
                      name="cb3"
                      id="cb3"
                      onclick="kitabSelected(cb3)"
                    />
                  </div>
                  <div class="status-flag notComplete-kitab">
                    <div class="complete-flag">
                     
                      <h4>منجز</h4>
                      <i class='bx bxs-circle'></i>
                    </div>
                    <div class="notComplete-flag">
                      
                      <h4>قيد الإنجاز</h4>
                      <i class='bx bx-circle'></i>
                    </div>
                  </div>
                  <div class="response-enum-wrapper">
                    <div class="response-enum result">
                      <h2>5006B /</h2>
                      <h2>و ت ع / 1</h2>
                    </div>
                  </div>
                  <div class="original-results">
                    <div class="date_ result">
                      <div>م</div>
                      <div>1/1/2021</div>
                    </div>
                    <div class="dept result">الأسئلة البرلمانية</div>
                    <div class="empName result">عبد الحسين عبد الرضا</div>
                  </div>

                  <div class="kitab-edit-button">
                    
                    <button class="kitab-edit">
                      <!-- meant to link you to the edit screen for each doc -->
                      <a href="#"></a>
                      <i class="bx bxs-edit"></i>
                    </button>
                    <div class="edit-tooltip">
                      <span>تعديل</span>
                    </div>
                  </div>
                </div>
                <div class="response">
                  <div class="select-result">
                    <input
                      class="result-checkbox"
                      type="checkbox"
                      name="cb4"
                      id="cb4"
                      onclick="kitabSelected(cb4)"
                    />
                  </div>
                  <div class="status-flag notComplete-kitab">
                    <div class="complete-flag">
                      
                      <h4>منجز</h4>
                      <i class='bx bxs-circle'></i>
                    </div>
                    <div class="notComplete-flag">
                     
                      <h4>قيد الإنجاز</h4>
                      <i class='bx bx-circle'></i>
                    </div>
                  </div>
                  <div class="response-enum-wrapper">
                    <div class="response-enum result">
                      <h2>5006C /</h2>
                      <h2>و ت ع / 1</h2>
                    </div>
                  </div>
                  <div class="original-results">
                    <div class="date_ result">
                      <div>م</div>
                      <div>1/1/2021</div>
                    </div>
                    <div class="dept result">الأسئلة البرلمانية</div>
                    <div class="empName result">عبد الحسين عبد الرضا</div>
                  </div>

                  <div class="kitab-edit-button">
                     
                    <button class="kitab-edit">
                      <!-- meant to link you to the edit screen for each doc -->
                      <a href="#"></a>
                      <i class="bx bxs-edit"></i>
                    </button>
                    <div class="edit-tooltip">
                      <span>تعديل</span>
                    </div>
                  </div>
                </div>
                
              </div>

              <div class="kitab">
                <div class="original-kitab">
                  <div class="select-result">
                    <input
                      class="result-checkbox"
                      type="checkbox"
                      name="cb5"
                      id="cb5"
                      onclick="kitabSelected(cb5)"
                    />
                  </div>
                  <div class="status-flag complete-kitab">
                    <div class="complete-flag">
                     
                      <h4>منجز</h4>
                      <i class='bx bxs-circle'></i>
                    </div>
                    <div class="notComplete-flag">
                      
                      <h4>قيد الإنجاز</h4>
                      <i class='bx bx-circle'></i>
                    </div>
                  </div>
                  <div class="original-enum-wrapper">
                    <div class="original-enum result">
                      <h2>و ت ع / 5 / 3497</h2>
                    </div>
                    <!-- <div class="enum-redo result-">5006</div> -->
                  </div>
                  <div class="original-results">
                    <!-- <div class="date_-redo result-">Date: 1/1/2021</div> -->
                    <div class="date_ result">
                      <div>م</div>
                      <div>13/12/2021</div>
                    </div>
                    <div class="dept result">الأسئلة البرلمانية</div>
                    <div class="empName result">خالد النفيسي</div>
                  </div>
                  <div class="kitab-buttons">
                    <div class="jar-button-wrapper">
                      <div class="jar-tooltip">
                        <span>جهات الرد جديد</span>
                      </div>
                      <button class="jar-button">
                        
                        <!-- <i class='bx bx-message-add'></i> -->
                        <i class='bx bx-plus-medical' ></i>
                      </button>
                      
                    </div>
                    <div class="kitab-edit-button">
                     
                      <button class="kitab-edit" disabled="disabled">
                        <!-- meant to link you to the edit screen for each doc -->
                        <a href="#"></a>
                        <i class="bx bxs-edit"></i>
                      </button>
                      <div class="edit-tooltip">
                        <span>تعديل</span>
                      </div>
                    </div>

                    <div class="kitab-toggle-button">
                      <button class="kitab-toggle" disabled="disabled">
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                </div>
                
              </div>

              <div class="kitab">
                <div class="original-kitab">
                  <div class="select-result">
                    <input
                      class="result-checkbox"
                      type="checkbox"
                      name="cb6"
                      id="cb6"
                      onclick="kitabSelected(cb6)"
                    />
                  </div>
                  <div class="status-flag notComplete-kitab">
                    <div class="complete-flag">
                     
                      <h4>منجز</h4>
                      <i class='bx bxs-circle'></i>
                    </div>
                    <div class="notComplete-flag">
                      
                      <h4>قيد الإنجاز</h4>
                      <i class='bx bx-circle'></i>
                    </div>
                  </div>
                  <div class="original-enum-wrapper">
                    <div class="original-enum result">
                      <h2>و ت ع / 1 / 20476</h2>
                    </div>
                    <!-- <div class="enum-redo result-">5006</div> -->
                  </div>
                  <div class="original-results">
                    <!-- <div class="date_-redo result-">Date: 1/1/2021</div> -->
                    <div class="date_ result">
                      <div>م</div>
                      <div>30/3/2021</div>
                    </div>
                    <div class="dept result">الأسئلة البرلمانية</div>
                    <div class="empName result">فخري عوده</div>
                  </div>
                  <div class="kitab-buttons">
                    <div class="jar-button-wrapper">
                      <div class="jar-tooltip">
                        <span>جهات الرد جديد</span>
                      </div>
                      <button class="jar-button">
                        <a href="#"></a>
                        <!-- <i class='bx bx-message-add'></i> -->
                        <i class='bx bx-plus-medical' ></i>
                      </button>
                      
                    </div>
                    <div class="kitab-edit-button">
                      
                      <button class="kitab-edit">
                        <!-- meant to link you to the edit screen for each doc -->
                        <a href="#"></a>
                        <i class="bx bxs-edit"></i>
                      </button>
                      <div class="edit-tooltip">
                        <span>تعديل</span>
                      </div>
                    </div>

                    <div class="kitab-toggle-button">
                      <button class="kitab-toggle" disabled="disabled">
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- results end -->

          <div class="--template-buttons">
            <div class="kitab-selected-count">
              <span class="kitab-count">0</span>
              <span>:</span>
              <span>المحدد</span> 
            </div>
            <div class="button">
              <input type="button" value="إرسال" />
              <i class="bx bx-mail-send"></i>
            </div>
            <div class="button">
              <input type="button" value="طباعة" />
              <i class="bx bx-printer"></i>
            </div>
            <div class="sort-filter">
              <div class="sort-wrapper">
                <i class='bx bx-sort'></i>
                <select name="sort-by" id="sort-by" class="sort-by field">
                  <option value="أحدث">أحدث</option>
                  <option value="أقدم">أقدم</option>
                  
                </select>
              </div>
              
              
            </div>
          </div>
        </div>
      </main>
    </div>
    <nav>
      <div class="sidebar">
        <div class="logoWrapper">
          <div class="logo-details">
            <img class="logo_name" src="images/link-svgs/navBar-title.svg" />
            <!-- <div class="logo_name">شؤون مجلس الأمة</div> -->
            <i class="bx bx-menu" id="btn"></i>
          </div>
          <img
            class="state-of-kuwait-logo"
            src="images/state-of-kuwait.png"
            alt=""
          />
        </div>

        <ul class="nav-list">
          <li>
            <a class="list-link" ui-sref="search">
              <i class="bx bx-search-alt mediaQ"></i>
              <!-- <img src="images/link-svgs/searchSVG.svg" class="links_name_svg" alt="" /> -->
              <svg
                class="links_name_svg"
                xmlns="http://www.w3.org/2000/svg"
                width="250"
                height="40"
                viewBox="0 0 250 40"
              >
                <text id="_بحث" data-name="بحث" x="182.407" y="27.746">
                  بحث
                </text>
              </svg>

              <!-- <span class="links_name"> بحث</span> -->
            </a>
            <span class="tooltip"> بحث</span>
          </li>
          <li>
            <a class="list-link" ui-sref="pi" ui-sref-active="activeState">
              <i class="bx bx-user-voice mediaQ"></i>
              <!-- <img src="images/link-svgs/piSVG.svg" class="links_name_svg" alt="" /> -->
              <svg
                class="links_name_svg"
                xmlns="http://www.w3.org/2000/svg"
                width="250"
                height="40"
                viewBox="0 0 250 40"
              >
                <text
                  id="الأسئلة_البرلمانية"
                  data-name="الأسئلة البرلمانية"
                  x="15.528"
                  y="28.86"
                >
                  الأسئلة البرلمانية
                </text>
              </svg>

              <!-- <span class="links_name">الأسئلة البرلمانية</span> -->
            </a>
            <span class="tooltip">الأسئلة البرلمانية</span>
          </li>
          <li>
            <a
              class="list-link"
              ui-sref="complaints"
              ui-sref-active="activeState"
            >
              <i class="bx bx-user-x mediaQ"></i>
              <!-- <img src="images/link-svgs/complaintsSVG.svg" class="links_name_svg" alt="" /> -->
              <svg
                class="links_name_svg"
                xmlns="http://www.w3.org/2000/svg"
                width="250"
                height="40"
                viewBox="0 0 250 40"
              >
                <text id="الشكاوي" x="128.215" y="26.634">الشكاوي</text>
              </svg>

              <!-- <span class="links_name">الشكاوي</span> -->
            </a>
            <span class="tooltip">الشكاوي</span>
          </li>
          <li>
            <a
              class="list-link"
              ui-sref="suggestions"
              ui-sref-active="activeState"
            >
              <i class="bx bx-bulb mediaQ"></i>
              <!-- <span class="links_name">الإقتراحات</span> -->
              <svg
                class="links_name_svg"
                xmlns="http://www.w3.org/2000/svg"
                width="250"
                height="40"
                viewBox="0 0 250 40"
              >
                <text id="الإقتراحات" x="110.32" y="27.726">الإقتراحات</text>
              </svg>

              <!-- <img src="images/link-svgs/suggestionsSVG.svg" class="links_name_svg" alt="" /> -->
            </a>
            <span class="tooltip">الإقتراحات</span>
          </li>
          <li>
            <a
              class="list-link"
              ui-sref="committees"
              ui-sref-active="activeState"
            >
              <i class="bx bx-buildings mediaQ"></i>
              <!-- <img src="images/link-svgs/committeesSVG.svg" class="links_name_svg" alt="" /> -->
              <svg
                class="links_name_svg"
                xmlns="http://www.w3.org/2000/svg"
                width="250"
                height="40"
                viewBox="0 0 250 40"
              >
                <text id="اللجان" x="165.991" y="27.86">اللجان</text>
              </svg>

              <!-- <span class="links_name">اللجان</span> -->
            </a>
            <span class="tooltip">اللجان</span>
          </li>
          <li>
            <a class="list-link" href="#" ui-sref="adminScreen">
              <i class="bx bx-pie-chart-alt-2 mediaQ"></i>
              <!-- <img src="images/link-svgs/managementSVG.svg" class="links_name_svg" alt="" /> -->
              <svg
                class="links_name_svg"
                xmlns="http://www.w3.org/2000/svg"
                width="250"
                height="40"
                viewBox="0 0 250 40"
              >
                <text id="Management" x="61.333" y="27.375">Management</text>
              </svg>

              <!-- <span class="links_name">Management</span> -->
            </a>
            <span class="tooltip">Management</span>
          </li>
          <li>
            <a class="list-link" href="#">
              <i class="bx bx-table mediaQ"></i>
              <!-- <img src="images/link-svgs/dbManagementSVG.svg" class="links_name_svg" alt="" /> -->
              <svg
                class="links_name_svg"
                xmlns="http://www.w3.org/2000/svg"
                width="250"
                height="40"
                viewBox="0 0 250 40"
              >
                <text
                  id="DB_Management"
                  data-name="DB Management"
                  x="15"
                  y="28.5"
                >
                  DB Management
                </text>
              </svg>
              <!-- <span class="links_name">DB Management</span> -->
            </a>
            <span class="tooltip">DB Management</span>
          </li>

          <li class="profile">
            <div class="profile-details">
              <!--<img src="profile.jpg" alt="profileImg">-->
              <div class="name_job">
                <div class="name">Username</div>
                <!-- <div class="job">Web designer</div> -->
                <div class="date-time-wrapper">
                  <div class="date">Date</div>
                  <div class="time">12:00pm</div>
                </div>
              </div>
            </div>

            <div class="log_outWrapper">
              <a class="exit-link" ng-click="onclickLogout()">
                <i class="bx bx-log-out" id="log_out"></i>
                <span class="exit-tooltip">خروج</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <script src="css/styleScript.js"></script> -->
    <!-- Laila's frontend rewrite -->
    <script src="css/navBar.js"></script>
    <script src="css/searchBar.js"></script>
  </body>
</html>
