@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

:root{
  --landing-bg-color:#5cdb95;
  --landing-bg-color-inverse:#05386b;
  --reel-card-bg-color: rgb(20,20,20);
  --reel-card-color:rgb(23,23,23);
  /* --reel-card-color-purple:rgb(47, 14, 69); */
  --reel-card-color-blueGreen:#05386b;
  --reel-card-color-blueGreen-inverse:#5cdb95;
  /* --reel-border-color-blueGreen:  */
}

body {
    background-color: var(--landing-bg-color);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-family: 'Ibarra Real Nova', serif;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--landing-bg-color);
    
}

header h4 {
    margin:0 0 0 300px;
    font-family: 'Calligraffitti', cursive;
}

.headphones {
    display: flex;
    align-items: center;
    position: relative;
}

.headphones i {
    position: absolute;
    left: 80px;
    transform: rotate(-35deg) scale(1.5, 1.3);
    font-size: 65px;
    opacity: 50%;
}

header h1 {
    margin-left: 100px;
    margin-bottom: 0;
}

footer {
    display: flex;
    font-size: 35px;
    margin-left: 350px;
    justify-content: space-around;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 250px;
}

#menu {
    display: flex;
    align-items: center;
   
}

.menu-item {
    color: white;
    display: block;
    font-size: clamp(3rem, 8vw, 8rem);
    
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    z-index: 2;
}

/* ---------------- get inactive links to fade out on hover */

/* reduce opacity of all links when hovered */
/* #A > .B: only applies to direct children of #A */
#menu-items:hover > .menu-item{
    opacity: 0.3;
}

/* override for currently hovered link  */
#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 1;
  }

/* reduce pattern size and opacity w hover */
#menu-items:hover ~ #background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

/* pan pattern up and down w hover */
/* when we hover away, want it to return to current
position, not default position.  */
/* check the js for the dataset.activeIndex */
#menu[data-active-index="0"] > #background-pattern {
    background-position: 0% -25%;
  }
  
  #menu[data-active-index="1"] > #background-pattern {
    background-position: 0% -50%;
  }
  
  #menu[data-active-index="2"] > #background-pattern {
    background-position: 0% -75%;
  }
  
  #menu[data-active-index="3"] > #background-pattern {
    background-position: 0% -100%;
  }

  #mic-img{
    background-image: url("images/microphone-vector/vectorstock_20837742.png");
    height: 10%;
    /* z-index: 0; */
    position: absolute;
    top: -500%;
  }
  /* adding a background image */
  #background-img {
    background-image: url("images/microphone-vector/vectorstock_20837742.png");
    background-position: center 40%;
    background-size: 110vmax;
    height: 100%;
    left: 0px;  
    opacity: 0.2;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: 0;
  }
  
  #menu-items:hover ~ #background-img {
    background-size: 100vmax;
    opacity: 0.1;
  }

  #menu[data-active-index="0"] > #background-img {
    background-position: center 45%;
  }
  
  #menu[data-active-index="1"] > #background-img {
    background-position: center 50%;
  }
  
  #menu[data-active-index="2"] > #background-img {
    background-position: center 55%;
  }
  
  #menu[data-active-index="3"] > #background-img {
    background-position: center 60%;
  }

  /* ======================================================= Reels */
  .reels-wrapper {
    background-color: var(--landing-bg-color);
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    padding:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;  
    max-width: 950px;
    width: calc(100% - 20px);
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: var(--reel-card-color-blueGreen); */
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;  
    overflow: hidden;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(142, 228, 175, 0.6),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(142, 228, 175, 0.7),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--reel-card-color-blueGreen);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }

  /* `````````````````````````````````````````````````````Music Player */
  .music-player-wrapper {
    height: 100%;
    width: 100%;
    z-index: 200;
  }

  .music-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* x-axis */
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .img-container {
    height: 200px;
    border-color: transparent;
  }

  .img-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    /* border: 1px solid white; */
    border-radius: 50%;
    

    /* animation */
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }

  .music-container.play .img-container img {
    animation-play-state: running;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  .nav-wrapper {
    width: 100%;
    justify-self: end;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(47, 14, 69, 0.005), rgb(11, 0, 18));
    height: 100px;
    opacity: 0;
    transition: opacity 500ms;
    align-items: center;
    justify-content: center;
  }
  .navigation {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
  }

  .nav-wrapper:hover {
    opacity: 1;
  }

  .action-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
    transition: color 500ms;
  }

  .action-btn:hover {
    color: white;
  }
  
  .action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
  }

  .action-btn.action-btn-big:hover {
    color: white;
  }
  
  .action-btn:focus {
    outline: 0;
  }

  .progress-container {
    background: #cdc2d0;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 90%;
    transition: color 500ms;
    opacity: 0;
  }

  .music-container.play .progress-container{
    opacity: 1;
  }

  .progress {
    background-color: rgb(151, 0, 251);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }

  .progress-container:hover {
    background-color: #fff;
  }

  .music-info {
    position: absolute;
    top: -30px;
    right: 100px;
    width: 100%;
    height: 40px;   
    z-index: 300;
    opacity: 0;
  transition: opacity 0.3s ease-in;
  }

  .music-info h4 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
    height: 40px;
    /* background-color: #cdc2d0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .music-container.play .music-info {
    opacity: 1;
  }
 
  .titles {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 25px;
    align-items: flex-start;
  }
  .title{
    width: 300px;
    text-align: center;
  }