.boxeContainer{
    width:500px;
    height: 500px;
    background-color:antiquewhite;
    text-align: center;
    vertical-align: middle;
    line-height: 125px;
    font-size: 20px;
    font-weight: 700;
   
}

.box1{
    width: 25%;
    height: 25%;
    background-color: rgba(0, 255, 255, 0.352);
   
}

.box2{
    width: 25%;
    height: 25%;
    background-color: #ffd0006e;
    left:75%;
    bottom:125px;
    position: relative;
    
}

.box3{
    width: 25%;
    height: 25%;
    background-color: #ff00dd36;
    top: 125px;
    position: relative;
}

.box4{
    width: 25%;
    height: 25%;
    background-color: rgba(9, 255, 0, 0.235);
    left:75%;
    position: relative;
}

.Num {
    width: 25%;
    height: 25%;
    background-color: rgba(0, 17, 255, 0.235);
    bottom: 60%;
    left:35%;
    position: relative;
}

.valueRange{
    display: inline;
    margin: 10px;
}
