@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #e1eaf3;
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
    font-size: 20px;
    /* max-width: 75%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    direction: rtl;

}
.content {
    background: #f9fbfd;
    /* not sure if we need this when we use flexbox */
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    
}



/* 
.inputContainer, .buttonsContainer{
    max-width: 70%;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 223, 234);
}

.inputFieldsContainer {
    display: flex;
}

.inputLabelsContainer{

}

.fieldContainer {
    background-color: aquamarine;
    width: 798px;
    height: 100%;
    

}

.fieldContainer p{
    background-color: blue;
}

.checkboxesContainer {
    background-color: rgb(159, 231, 231);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 798px;
}

.internalLabel{

}

.checkboxBox{
    flex-basis: 45%;
    background-color: bisque;
    margin: 5px;
}

.checkboxBox label {
    background-color: blue;
    padding: 10px;
    color: white;
}

.checkboxes {
    margin: 3px;
    
    
} */



