@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
  
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /* 90% viewport width */
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    /* background-size: cover;  to preserve rounded corners on large screens*/
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color:#fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    /* for the h3s inside to be absolute, the parent has to be relative */
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position:absolute;
    bottom: 20px;
    left: 20px;
    margin:0;
    opacity: 0;
    /* when it's active we will show them on the bottom left */
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    /* putting a delayed 0.4s transition on the active h3 */
    transition: opacity 0.3s ease-in 0.4s;
}

/* if the screen is really small show 3 instead of 5 panels */
@media(max-width: 480px) {
    .container {
        width: 100vw;
    }


    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display:none;
    }
}