html {
    background-color: #f7f7f7;
}

body{
    font-family: 'Barlow', sans-serif;
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(49, 46, 46)
}

header, footer {
   background: #333a40; 
   color: white;
}

/* <!-- comma makes it apply to multiple elements --> */

ul {
    margin: 0;
    padding: 0;
    /* browsers sometimes have default values for 
    margin and padding and we want to reset this 
    to 0 */

    /* can paste this into our css to completely reset the css 
    https://meyerweb.com/eric/tools/css/reset/ */
}

li {
    list-style: none;
    line-height: 30px;
}

/* inside makes it so that the bullets are included in the 
body/document flow instead of protruding.  


list-style: square inside;

   can also use url() to link to an image to use as a bullet
*/

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0e69e9;
}

header li {
    display: inline;
}

header h1, nav{
    display: inline-block;
}

main {
    width: 680px;
    display: inline-block;
    padding: 10px;
}

aside {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

#name {
    background: red;
}

.product {
    box-sizing: border-box;
    border: 1px solid grey;
    width: 200px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

.button {
    padding: 10px;
    display: inline-block;
}

img {
    /* no larger than the container it's in */
    max-width: 100%;  
}

/* 
p:first-of-type{
    color: red;
}

pseudo selectors let us select target elements based on their state.
The first instance, last instance, etc. It's pretty neat! */

.button:last-of-type {
    background: #0e69e9;
    color: white;
}

/* Product Detail Page */
.product-detail {
    width: 660px;
}

.product-detail img {
    max-width: 50%;
    float: left;
}

/* when we use a float the height of the elements is not taken into 
account which can cause some weirdness. To circumvent this we can 
try using overflow: auto;  */

/* with floats and non floated elements we can say that 
we dont want the element to be on the same height/line 
as a floated element on the left, right, or both using 
clear: left, clear:right, clear:both; */

/* #position {
    position: relative;
    top: 10px;
} */

/* relative relative to where it would normally be positioned in the document
absolute from the top of the page
fixed stays in position even if we scroll 
sticky also stays in place. Good for side bars */