@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');
:root {
    --primary-grey: rgb(37, 37, 37);
    --secondary-grey: rgb(146, 193, 212);
    --secondary-grey-content-border: rgba(146, 193, 212,0.5);
    --secondary-grey-content-dropShadow: rgba(146, 193, 212,0.4);
    --logo-skyBlue: rgba(127, 214, 247, 1);
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   display: flex;
   font-family: 'Tajawal', sans-serif;
    font-size: 18px;
    overflow: visible;
}

.grid {
    font-family: inherit;
    width: calc(100% - 78px);
    display: grid;
    grid-template-areas: 
    'header  '
    'content '
    ;
    grid-template-rows: 120px 1fr;
    padding:0 40px 40px 40px;
}

header,
main {
    padding: 20px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    grid-area: content;
    padding-top: 0;
}


/* -------------------------------------------------------------------- Navigation styling */
.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--primary-grey);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar.open{
    width: 250px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
 
  .logoWrapper{
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .logoWrapper .state-of-kuwait-logo{
    margin-top: 15px;
    height: 50px;
    width: 50px;
    transition: all 0.5s ease;
  }
  
  .sidebar.open .logoWrapper .state-of-kuwait-logo{
    transform: translateX(115%);
    height: 70px;
    width: 70px;
    transition: all 0.5s ease;
  
  }
  .sidebar .logo-details .logo_name{
    width: 200px;
    /* margin-top: 0px; */
    margin-left: 35px;
    /* justify-content: end; */
    opacity: 0;
    transition: all 0.4s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: left;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    right: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }
 
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--primary-grey);
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .sidebar li a:hover{
    background: #FFF;
  }
  .sidebar li a .links_name{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
    padding-right: 35px;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: var(--primary-grey);
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    right: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: var(--secondary-grey);
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile{
    width: 250px;
    height: 70px;
  }
  .sidebar li .profile-details{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
  }

  .sidebar li.profile .name{
    font-size: 19px;
    font-weight: 500;
    color: #fff;
  }

  .sidebar li.profile .date-time-wrapper{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .date-time-wrapper{
    display: flex;
    font-size: 15px;
  }

  .sidebar li.profile .date-time-wrapper .date{
    margin-right: 10px;
  }

  .sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: var(--secondary-grey);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  .sidebar.open .profile #log_out{
    width: 50px;
    background: none;
  }

  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }
  
/* ----------------------------------------------------------------------------------------Template Template(Main) styling */
.--template-insert{
    display: grid;
    height: 100%;
    grid-template-areas: 
    'template-header  template-header template-header template-header'
    'left_space       EnumField       Enum            right_space'
    'left_space       dopField        dop             right_space'
    'left_space       repField        rep             right_space'
    'left_space       titleField      title           right_space'
    'left_space       nopField        nop             right_space'
    'left_space       typeField       type            right_space'
    'left_space       internalField   internal        right_space'
    'left_space       thirdPartiesField thirdParties  right_space'
    'left_space       notesField      notes           right_space'
    'left_space       attachmentsField attachments    right_space'
    'template-buttons template-buttons template-buttons template-buttons'
    ;
    grid-template-columns: 0.5fr 2fr 0.7fr 0.5fr;
    grid-template-rows: 0.5fr repeat(10,auto) 0.5fr;
    border: var(--secondary-grey-content-border) 2px solid; 
    border-radius: 40px;
    box-shadow: 8px 8px 5px -2px var(--secondary-grey-content-dropShadow);
    font-weight: 500;
    background-color: rgba(127, 214, 247, 0.05);
    color: rgb(0, 50, 70);
     
}
.right_space,
.left_space,
.--template-header,
.--template-buttons, 
.field,
.label {
    padding: 15px;
    /* border: skyblue 1px solid; */
    
    
}

.--template-header{
    grid-area: template-header;
    align-self: center;
    justify-self: center;
}

.right_space{
    grid-area: right_space;
}

.field {
    text-align: end;
}

.field input[type=text],
.field textarea,
.field input[type=date],
.field select{
    height: 40px;
    width: 80%;
    border:rgba(15, 15, 15, 0.2) 2px solid;
    border-radius: 5px;
    background-color: rgba(127,214,247, 0.1);
    padding: 10px;
    /* grid-auto-rows: auto; */
    font-size: inherit;
}

.field input[type=text]:focus,
.field textarea:focus,
.field input[type=date]:focus,
.field select:focus
{
    outline: none;
    background-color: white;
    border-color:rgb(0, 50, 70) ;
    border-width: 2px;
    padding: 14px;
    
}

.active{
    font-weight: 600;
    font-size: 20px;
}

.textWrapper{
    width: 80%;
    height: 150px;
    border-radius: 5px;
    float: right; 
    /* why do I have to use a float to center it? wtf? */
}

.textWrapper textarea{
    height: 100%;
    width: 100%;
    padding: 5px;
    outline: none;
    resize: none;
    border-radius: 5px;
}

textarea::-webkit-scrollbar{
    width: 0;
}

.label {
    text-align: end;
}
.--template-labels{
    text-align: end;
}

.--template-fields{
    text-align: end;
}

.--template-buttons{
    grid-area: template-buttons;
}
.left_space{
    grid-area: left_space;
}
 

/* --------------------------------------------------------Labels */
.Enum{
    grid-area:Enum ;
}
.dop{
    grid-area: dop;
}
.rep{
    grid-area:rep ;
}
.title{
    grid-area: title;
}
.nop{
    grid-area: nop;
}
.type{
    grid-area: type;
}
.internal{
    grid-area:internal;
}
.thirdParties{
    grid-area:thirdParties ;
}
.notes{
    grid-area:notes ;
}
.attachments{
    grid-area: attachments;
}

/* --------------------------------------------------------Fields */
.EnumField{
    grid-area:EnumField ;
}
.dopField{
    grid-area: dopField;
}
.repField{
    grid-area: repField;
}
.titleField{
    grid-area: titleField;
}
.nopField{
    grid-area: nopField;
}
.typeField{
    grid-area: typeField;
}
.internalField{
    grid-area: internalField;
}
.thirdPartiesField{
    grid-area: thirdPartiesField;
}
.notesField{
    grid-area: notesField;
}
.attachmentsField{
    grid-area: attachmentsField;
}