@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');
:root {
    --primary-grey: rgb(37, 37, 37);
    --secondary-grey: rgb(146, 193, 212);
    --secondary-grey-content-border: rgba(146, 193, 212,0.5);
    --secondary-grey-content-dropShadow: rgba(146, 193, 212,0.4);
    --secondary-grey-buttons-dropShadow: rgba(0, 68, 95, 0.816);
    --secondary-grey-buttons-input-hoverBackground: rgba(0, 68, 95, 0);
    --logo-skyBlue: rgba(127, 214, 247, 1);
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   display: flex;
   font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    overflow: visible;
}

.grid {
    font-family: inherit;
    width: calc(100% - 78px);
    display: grid;
    grid-template-areas: 
    'header  '
    'content '
    ;
    grid-template-rows: 120px 1fr;
    padding:0 40px 40px 40px;
}

header,
main {
    padding: 20px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    grid-area: content;
    padding-top: 0;
}


/* -------------------------------------------------------------------- Navigation styling */
.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--primary-grey);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar.open{
    width: 250px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
 
  .logoWrapper{
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .logoWrapper .state-of-kuwait-logo{
    margin-top: 15px;
    height: 50px;
    width: 50px;
    transition: all 0.5s ease;
  }
  
  .sidebar.open .logoWrapper .state-of-kuwait-logo{
    transform: translateX(115%);
    height: 70px;
    width: 70px;
    transition: all 0.5s ease;
  
  }
  .sidebar .logo-details .logo_name{
    width: 200px;
    /* margin-top: 0px; */
    margin-left: 35px;
    /* justify-content: end; */
    opacity: 0;
    transition: all 0.4s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: left;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    right: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }
 
  .sidebar li a.list-link{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--primary-grey);
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .sidebar li a.list-link:hover{
    background: #FFF;
  }

.sidebar li a.list-link .links_name_svg{
  height: 23px;
  opacity: 0;
  transition: 0.4s;
  pointer-events: none;
}
.sidebar.open li a.list-link .links_name_svg {
  height: 20px;
  padding-right: 35px;
  pointer-events: auto;
  opacity: 1;
}

  .sidebar li a.list-link:hover .links_name_svg,
  .sidebar li a.list-link:hover i{
    transition: all 0.5s ease;
    color: var(--primary-grey);
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    right: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: var(--secondary-grey);
    transition: all 0.5s ease;
  }
  .sidebar.open li.profile{
    width: 250px;
    height: 70px;
  }
  .sidebar li .profile-details{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
  }

  .sidebar li.profile .name{
    font-size: 19px;
    font-weight: 500;
    color: #fff;
  }

  .sidebar li.profile .date-time-wrapper{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .date-time-wrapper{
    display: flex;
    font-size: 15px;
  }

  .sidebar li.profile .date-time-wrapper .date{
    margin-right: 10px;
  }

  .sidebar .profile .log_outWrapper{
    position: relative;
    width: 100px; 
    height: 60px; 
    border-radius: 0px;
    transform: translateY(-95%) translateX(-14px);
    background: var(--secondary-grey);
    transition: all 0.5s ease;
  }

  .sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(-70%);
    background: var(--secondary-grey);
    transition: all 0.6s ease;
    height: 50px;
    line-height: 50px;
    border-radius: 12px;
    min-width: 50px;
  }

 
  .sidebar.open .profile .log_outWrapper{
    width: 100px;
    transform: translateY(-55px) translateX(160px);
  }

  .sidebar li.profile #log_out:hover{
    background-color: white;
    color: var(--secondary-grey);
  }

  .sidebar li.profile .log_outWrapper .exit-link .exit-tooltip{
    position: absolute;
    right: 100px;
    top: 0;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 400;
    color: black;
    height: 35px;
    width: 122px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
  }

  .sidebar li.profile .log_outWrapper .exit-link:hover .exit-tooltip{
    transition: all 0.5s ease;
    pointer-events: auto;
    opacity: 1;
    top: 50%;
  }

  .sidebar.open li.profile .log_outWrapper .exit-link .exit-tooltip{
    display: none;
  }

  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }
  
/* ----------------------------------------------------------------------------------------Template Template(Main) styling */
.--template-insert{
    display: grid;
    height: 100%;
    grid-template-areas: 
    'template-header  template-header template-header template-header'
    'left_space       EnumField       Enum            right_space'
    'left_space       dopField        dop             right_space'
    'left_space       repField        rep             right_space'
    'left_space       titleField      title           right_space'
    'left_space       nopField        nop             right_space'
    'left_space       typeField       type            right_space'
    'left_space       internalField   internal        right_space'
    'left_space       thirdPartiesField thirdParties  right_space'
    'left_space       notesField      notes           right_space'
    'left_space       attachmentsField attachments    right_space'
    'template-buttons template-buttons template-buttons template-buttons'
    ;
    grid-template-columns: 0.5fr 2fr 0.7fr 0.5fr;
    grid-template-rows: 0.5fr repeat(10,auto) 1.5fr;
    border: var(--secondary-grey-content-border) 2px solid; 
    border-radius: 40px;
    box-shadow: 8px 8px 5px -2px var(--secondary-grey-content-dropShadow);
    font-weight: 500;
    background-color: rgba(127, 214, 247, 0.05);
    color: rgb(0, 50, 70);
     
}
.right_space,
.left_space,
.--template-header,
.--template-buttons, 
.field,
.label {
    padding: 15px 15px 15px 0;
}

.--template-header{
    grid-area: template-header;
    align-self: center;
    justify-self: center;
}

.right_space{
    grid-area: right_space;
}

.field {
    text-align: end;
}

.field input[type=text],
.field textarea,
.field input[type=date],
.field select{
    height: 40px;
    width: 80%;
    border:rgba(15, 15, 15, 0.2) 2px solid;
    border-radius: 5px;
    background-color: rgba(127,214,247, 0.1);
    padding: 10px;
    /* grid-auto-rows: auto; */
    font-size: inherit;
}

.field input[type=text]:focus,
.field textarea:focus,
.field input[type=date]:focus,
.field select:focus
{
    outline: none;
    background-color: white;
    border-color:rgb(0, 50, 70) ;
    border-width: 2px;
    padding: 14px;
    
}

.active{
    font-weight: 600;
    font-size: 20px;
}

.textWrapper{
    width: 80%;
    height: 150px;
    border-radius: 5px;
    float: right; 
    /* why do I have to use a float to center it? wtf? */
}

.textWrapper textarea{
    height: 100%;
    width: 100%;
    padding: 5px;
    outline: none;
    resize: none;
    border-radius: 5px;
}

textarea::-webkit-scrollbar{
    width: 0;
}

.label {
    text-align: end;
}
.--template-labels{
    text-align: end;
}

.--template-fields{
    text-align: end;
}

.--template-buttons{
    grid-area: template-buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-grey);
    border-radius: 0 0 40px 40px;

}

.--template-buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(0, 50, 70);
  background-color: white;
  cursor: pointer;
  font-weight: 400;
  margin: 0 10px;
  border-radius: 8px;
  height: 50px;
  width: 100px;
  box-shadow: inset 0 -4px 0 0 var(--secondary-grey-buttons-dropShadow);
  transition: all 0.1s ease;
  padding: 5px 5px 8px 5px;
}

.--template-buttons input{  
  border: 0;
  background-color: #FFF;
  margin-right: 5px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
}

.--template-buttons i{
  font-size: 20px;

}

.--template-buttons .button:hover{
  text-align: center;
  border-radius: 8px;
  box-shadow: inset 0 -4px 0 0 rgb(0, 50, 70);
  background-color: var(--secondary-grey-buttons-dropShadow);
  color:white;
}

.--template-buttons .button:hover input{
  background-color: var(--secondary-grey-buttons-input-hoverBackground);
  color:white;
}

.--template-buttons .button:active {
  box-shadow: inset 0 0 0 0 var(--secondary-grey-buttons-dropShadow);
  height: 40px;
  transform: translateY(4px);
}

.--template-buttons input:focus{
  outline: none;
}

.left_space{
    grid-area: left_space;
}
 

/* --------------------------------------------------------Labels */
.Enum{
    grid-area:Enum ;
}
.dop{
    grid-area: dop;
}
.rep{
    grid-area:rep ;
}
.title{
    grid-area: title;
}
.nop{
    grid-area: nop;
}
.type{
    grid-area: type;
}
.internal{
    grid-area:internal;
}
.thirdParties{
    grid-area:thirdParties ;
}
.notes{
    grid-area:notes ;
}

.attachments{
    grid-area: attachments;
    margin-top: 30px;
}

/* --------------------------------------------------------Fields */
.EnumField{
    grid-area:EnumField ;
}
.dopField{
    grid-area: dopField;
}
.repField{
    grid-area: repField;
}
.titleField{
    grid-area: titleField;
}
.nopField{
    grid-area: nopField;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Work here now */
.typeField{
    grid-area: typeField;
    display: flex;
    justify-content: end;
}
.typeField .type-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* background-color: aqua; */
}
.typeField .type-wrapper .type {
  margin: 3px 3px 3px 3px;
  position: relative;
  display: flex;
  align-items: center;
}

.typeField .type-wrapper .type input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: -30px;
  height: 25px;
  width: 25px;

  background-color: rgba(126, 173, 192, 0.329);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.typeField .type-wrapper .type input[type="radio"]::after{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f111";
  font-size: 12px;
  color: white;
  display: none;
}

.typeField .type-wrapper .type input[type="radio"]:hover{
  background-color: #6b899e;
}

.typeField .type-wrapper .type input[type="radio"]:checked{
  background-color: var(--secondary-grey);
}

.typeField .type-wrapper .type input[type="radio"]:checked::after{
  display: block;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Work here now */
.internalField{
    grid-area: internalField;
}

.recipients-wrapper{
  display: flex;
  width: 830px;
  flex-wrap: wrap;
  justify-content: end;
}

.recipients-wrapper .recipient{
  display: flex;
  align-items: start;
  justify-content: end;
  width: 255px;
  height: 100%;
  margin: 5px 10px 15px 10px;
  padding: 2px;
  position: relative;
}

.recipients-wrapper .recipient input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: -30px;
  height: 25px;
  width: 25px;
  /* background-color:#eee; */
  background-color: rgba(126, 173, 192, 0.329);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.recipients-wrapper .recipient input[type="checkbox"]::after{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f00c";
  font-size: 15px;
  color: white;
  display: none;
}

.recipients-wrapper .recipient input[type="checkbox"]:hover{
  background-color: #6b899e;
}

.recipients-wrapper .recipient input[type="checkbox"]:checked{
  background-color: var(--secondary-grey);
}

.recipients-wrapper .recipient input[type="checkbox"]:checked::after{
  display: block;
}

.thirdPartiesField{
    grid-area: thirdPartiesField;
}
.notesField{
    grid-area: notesField;
}

.attachmentsField {
  grid-area: attachmentsField;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 30px;
}

.attachmentsField .attach-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
  position: relative;
  margin-top: 20px;
}

.attachmentsField .attach-buttons-wrapper .attach-button{
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: var(--secondary-grey);
  color: #FFF;
  cursor: pointer;
  font-weight: 400;
  margin: 0 10px 20px 10px;
  border-radius: 8px;
  height: 50px;
  width: 150px;
  box-shadow: inset 0 -4px 0 0 var(--secondary-grey-buttons-dropShadow);
  transition: all 0.1s ease;
  padding: 5px 5px 8px 5px;
}

.attachmentsField .attach-buttons-wrapper .attach-button input[type=file],
.attachmentsField .attach-buttons-wrapper .attach-button input[type=submit]{
  display:none;
}

.attachmentsField .attach-buttons-wrapper .attach-button label{
  cursor: pointer;
  margin-right: 5px;
}

.attachmentsField .attach-buttons-wrapper .attach-button span{
  cursor: pointer;
  margin-right: 5px;
}

.attachmentsField .attach-buttons-wrapper .attach-button:hover{
  box-shadow: inset 0 -4px 0 0 rgb(0, 50, 70);
  background-color: var(--secondary-grey-buttons-dropShadow);
  color:white;
}

.attachmentsField .attach-buttons-wrapper .attach-button:active {
  box-shadow: inset 0 0 0 0 var(--secondary-grey-buttons-dropShadow);
  /* height: 40px; it shifts the button below up and i don't know how to fix it*/
  transform: translateY(4px);
}

.attachmentsField .icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 600px;
  height: 200px;
  border: rgba(15, 15, 15, 0.2) 2px dashed;
  border-radius: 5px;
  background-color: rgba(127,214,247, 0.1);
  /* border-color:rgb(0, 50, 70) ; */
  border-width: 2px;
  padding: 14px;
  margin-left: 40px;
  width: 600px;
}

.attachmentsField .icons-wrapper .icon {
  display: flex;
  word-wrap: break-word;
  justify-content: end;
  flex-direction: row-reverse;
  margin: 5px 10px 10px 17px;
  height: 84px;
  width: 20%;
  flex-grow: 1 1 130px;
  position: relative;
}

.attachmentsField .icons-wrapper .icon .icon-delete {
  position: absolute;
  top: -8px;
  right: -8px;
}

.attachmentsField .icons-wrapper .icon .icon-delete:hover{
  cursor: pointer;
}

.attachmentsField .icons-wrapper .icon .icon-image img{
  height: 50px;
  width: 50px;
}

.attachmentsField .icons-wrapper .icon .icon-name {
  font-size: 14px;
  width: 80px;
}

.attachmentsField .icons-wrapper .icon .icon-tooltip {
  position: absolute;
  height: 35px;
  padding: 2px 5px;
  top: 0;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  font-size: 18px;
}

.attachmentsField .icons-wrapper .icon:hover .icon-tooltip {
  transition: all 0.3s ease;
  top: 65%;
  opacity: 1;

}