@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');
.--search-insert{
    display: grid;
    /* height: 100%; */
    grid-template-areas:
    'searchBar'
    'results'
    '--template-buttons'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr minmax(1fr) 1.5fr;
    grid-auto-rows: min-content;
    border: var(--secondary-grey-content-border) 2px solid; 
    border-radius: 40px;
    box-shadow: 8px 8px 5px -2px var(--secondary-grey-content-dropShadow);
    font-weight: 500;
    font-family: 'Tajawal', sans-serif;
    background-color: rgba(127, 214, 247, 0.05);
    color: rgb(0, 50, 70);
    text-align: right;
}

.searchBar {
    padding: 15px 15px 15px 0;
}

.searchBar {
    grid-area: searchBar;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Tajawal', sans-serif;
    background-color: rgba(146, 193, 212,0.3);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom: rgba(146, 193, 212, 0.25) 2px solid; 
    position: relative;
}

/* -------------------------------------------------------------------------------  search button */
.search-button{
    background-color: var(--secondary-grey);
    color: #FFF;
   
}

.search-button input{
    color: #FFF;
    background-color: var(--secondary-grey);
}

/* -------------------------------------------------------------------------------- history filter */

.my-recent-history-checkbox{
    display: flex;
    flex-basis: 100px;
    justify-content: space-around;
    margin:0 2px 0 2px;
}


/* --------------------------------------------------------------------------------- status filter */
.searchBar.navOpen .status-buttons-wrapper{
    width: 190px;
}
.status-buttons{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    flex-basis: 170px;
}

.radio__input{
    display: none;
}

.radio__label{
    padding: 8px 14px;
    font-size: 20px;
    font-family: inherit;
    color: white;
    background-color: var(--secondary-grey);
    cursor: pointer;
    transition: background-color 0.1s;
}

.radio__label:nth-of-type(1){
    min-width: 113px;
}

.searchBar.navOpen .radio__label{
    padding: 8px 10px;
  
}

.radio__label:not(:last-of-type){
    border-right: 1px solid rgba(0, 68, 95, 0.3);
}

/* selecting the next sibling with class radio__label */
.radio__input:checked + .radio__label{
    background:var(--secondary-grey-buttons-dropShadow);
}

/* --------------------------------------------------------------------------------- doc-type dropdown */
.doc-type {
    /* flex-basis: 250px; */
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}
.search-field,.sort-by  {
    width: 185px;
    background-color:white;
    border-radius: 14px;
    text-align: right;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    outline: none;
    border: rgba(146, 193, 212, 0.5) 2px solid;
    height: 100%;
}


/* -------------------------------------------------------------------------------  from-to date pickers*/
.from-to-wrapper{
    display: flex;
    flex-basis:420px;
    flex-shrink: 2;
}
.date-from{
    display: flex;
    align-items: center;
    flex-basis: 167px;
    flex-shrink: 2;
}
.date-to{
    display: flex;
    align-items: center;
    flex-basis: 167px;
    flex-shrink: 2;
}


/* ----------------------------------------------------------------------- empty space for search bar */

.emptySpace {
    flex-basis: 150px;
    height: 100%;
}

.searchBar.navOpen .emptySpace{
    flex-basis: 180px;
}

/* -------------------------------------------------------------------------- the searchBar input */

.searchBar-wrapper {
   position: relative;
}

.searchBar-wrapper .searchBar-input{
    width: 1210px;
    transition: width 0.5s ease;
    height: 54px;
    position: absolute;
    top: -27px;
    right:0;
    z-index: 10;
    background-color:white;
    border-radius: 14px;
    text-align: right;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    outline: none;
    border: rgba(146, 193, 212, 0.5) 2px solid;
}

.searchBar.navOpen .searchBar-wrapper .searchBar-input {
    width: 1100px;
}


/* ----------------------------------------------------------------------------------   filter button */
.filter-button{
    background-color: white;
    margin:2px;
    height: 48px;
    width: 45px;
    border: 0;
    border-radius: 14px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    z-index:20;
    right: 1160px;
    top: -26px;
    color:var(--secondary-grey-buttons-dropShadow);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right 0.5s ease, background-color 0.1s ease;
}

.searchBar.navOpen .searchBar-wrapper .filter-button{
    right: 1050px;
}

.filter-button:hover {
    background-color: var(--secondary-grey);
    color:white;
}

.filter-button:active {
    background-color: var(--secondary-grey-buttons-dropShadow);
}

.filter-button:focus, .searchBar:focus{
    outline:none;
}

.searchBar-input:active{
    outline: none;

}

.searchBar-wrapper.activeFilter .searchBar-input{
    width: 170px;
}

.searchBar.navOpen .searchBar-wrapper.activeFilter .searchBar-input{
    width: 170px;
}

.searchBar-wrapper.activeFilter .filter-button{
    right:120px;
}

.searchBar.navOpen .searchBar-wrapper.activeFilter .filter-button{
    right:120px;
}

/* ------------------------------------------------------------------------------------------filter selections */
.selected-filters.filterSelected {
    display: flex;
    justify-content: end;
    align-items: center;
}

.selected-filters{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: none;
    
}

.selected-filters.filterSelected .filter{
    visibility:visible;
   
}

.filter{
    min-width: 120px;
    max-width: 250px;
    height: 40px;
    background-color: white;
    border-radius: 14px;
    border: 2px solid rgba(146, 193, 212,0.7);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 7px;
    cursor: default;
    visibility: none;
}



.filter .bx-x{
    color:rgb(0, 50, 70);
}

.filter .bx-x:hover{
    cursor: pointer;
}
/* ------------------------------------------------------------------------------------------results */
.select-result{
    align-self: center;
}

.select-result input[type="checkbox"], .my-recent-history-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: rgba(126, 173, 192, 0.329);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }
  
  .select-result input[type="checkbox"]::after, .my-recent-history-checkbox input[type="checkbox"]::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f00c";
    font-size: 15px;
    color: white;
    display: none;
  }
  
  .select-result input[type="checkbox"]:hover, .my-recent-history-checkbox input[type="checkbox"]:hover{
    background-color: #6b899e;
  }
  
  .select-result input[type="checkbox"]:checked, .my-recent-history-checkbox input[type="checkbox"]:checked{
    background-color: var(--secondary-grey);
  }
  
  .select-result input[type="checkbox"]:checked::after, .my-recent-history-checkbox input[type="checkbox"]:checked::after{
    display: block;
  }

  /* ------------------------------------------------------- if selected style for response and original */
  .original-kitab.toggled-kitab ~ .response.selected-kitab,
  .original-kitab.selected-kitab{
    background-color:rgba(146, 193, 212,0.7);
}

  .results-wrapper{
    background-color: #f0f0f0;
    height: 395px;
    overflow: scroll;
    overflow-x:hidden;
  }

.results{
    margin: 10px;
}
.kitab{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    background-color: transparent;
}
.original-kitab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: rgba(146, 193, 212,0.3);
}

.response{
    display: none;
    width: 95%;
    margin: 3px 0 3px 0;
}

.original-kitab.toggled-kitab {
    margin-bottom: 3px;
}

/* if original is toggled, style next sibling */
.original-kitab.toggled-kitab ~ .response{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: white;
}

.result {
    width: 300px;

}

.response-enum-wrapper .response-enum h2{
    display: inline-flex;
}
.date_ {
    display: flex;
    justify-content: end;
}

.response {
    background-color: white;
}


/* ------------------------------------------------------results scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    margin: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgba(146, 193, 212,0.7);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 50, 70, 0.5); 
  }


/* ------------------------------Edit button and toggle button */
.kitab-buttons{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kitab-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0;
    height: 40px;
    width: 40px; 
}

.kitab-toggle:hover{
    background-color: rgb(0, 50, 70);
    color: white;
}

.kitab-toggle:focus {
    outline: 0;
}

.kitab-toggle .fa-times {
    display: none;
}

.original-kitab.toggled-kitab .kitab-toggle .fa-times{
    color:rgb(0, 50, 70);
    display: block;
}

.original-kitab.toggled-kitab .kitab-toggle {
    background-color: transparent;
}
.original-kitab.toggled-kitab .kitab-toggle:hover{
    background-color:rgb(0, 50, 70);
}

.original-kitab.toggled-kitab .kitab-toggle:hover .fa-times{
    color: white;
}

.original-kitab.toggled-kitab .kitab-toggle .fa-chevron-down{
    display: none;
}

/* ------------------------------Edit and JAR buttons w links*/
.kitab-edit, .jar-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    height: 40px;
    width: 40px; 
    border-radius: 50%;
}

.kitab-edit:hover,.jar-button:hover  {
    background-color: rgb(0, 50, 70);
    
    color: white;
}

.kitab-edit:hover .bxs-edit, .jar-button-wrapper:hover .bx-plus-medical{
    color: white;
}

.kitab-edit .bxs-edit,
.jar-button .bx-plus-medical{
    font-size: 30px;
    color: rgb(0, 50, 70);
}

.kitab-edit-button {
    position: relative;
}

.jar-button-wrapper {
position: relative;
}

.jar-tooltip, .edit-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 150px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    right: 110%;

    visibility: hidden;
}

.jar-button-wrapper:hover .jar-tooltip, .kitab-edit-button:hover .edit-tooltip{
    visibility: visible;
}

.edit-tooltip {
    width: 80px;
    top: 0;
}

.kitab-edit-button button:disabled,
.kitab-toggle-button button:disabled{
    background: #dddddd;
    color: white;
    cursor: not-allowed;
}

.kitab-edit-button button:disabled .bxs-edit{
    color: white;
}

.kitab-edit-button:hover button:disabled ~ .edit-tooltip{
    visibility: hidden;
}


/* ------------------------------Complete or notComplete Kitab flags */
.status-flag {
    width: 130px;
}

.complete-flag {
    display: none;
}

.notComplete-flag {
    display: none;
}

.status-flag.notComplete-kitab .notComplete-flag,
.status-flag.complete-kitab .complete-flag{
    display: block;
    display: flex;
    align-items: center;
    justify-content: end;
}

.status-flag.notComplete-kitab .notComplete-flag h4,
.status-flag.complete-kitab .complete-flag h4 {
    margin-right: 10px;
}

/* ---------------------------------------------------------------Template Button Bar */
.--template-buttons{
    grid-area: --template-buttons;
    height: 100%;
    position: relative;
}

/*  */
.kitab-selected-count{
    width: 90px;
    position: absolute;
    left:60px;
}

.sort-filter{
    position: absolute;
    right:60px;
}

.sort-wrapper{
    position: relative;
}

.sort-by {
    width: 150px;
}

.bx-sort{
    position: absolute;
    background-color: var(--secondary-grey);
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}