@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 100vh;

    display: grid;
    grid-template-areas:
    'sidebar header'
    'sidebar content'
    'sidebar  footer'
    ;

    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 150px 1fr 150px;
}

header, 
footer,
main, 
aside, 
nav {
    background-color: steelblue;
    color: white;
    padding: 20px;
    border: skyblue 1px solid;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
    position: relative;
}

.option-1 {
    background-image: linear-gradient(0deg, rgba(247, 247, 247, 1) 23.8%, rgba(252, 221, 221, 1) 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: black;
    height: 100%;
}

.music-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}

/* the little white dot on the record */
.img-container::after {
    content: '';
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: 20px;
    width: 20px;
    /* get it right in the middle */
    transform: translate(-50%,50%);
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

/* Title and progress bar */
.music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    /* to move the title and progress bar up */
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition:width 0.1s linear;
}


aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

/* `````````````````````````````````````````````` Sliding BG */
.arrow{
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;
    top: 50%;
    color: white;
    z-index: 11;
    cursor: pointer;
}

.arrow:focus{
    outline:0;
}

.active {
    transition: opacity 0.3s ease-in;
}
.content {
    height: 90%;
    width: 80%;
}

.content.first {
    background-color: #fe8daa;
    display: none;
    opacity: 0;  
}

.content.second {
    background-color: violet;
    display: none;
    opacity: 0;
}

.content.third {
    background-color: chartreuse;
    display: none;
    opacity: 0;
}

.content.active{
    display: block;
    opacity: 1;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.4s;
}

/* ````````````````````````````````````````````````````````````````Expanding Cards */
.expanding-cards {
    height: 100%;
    width: 100%;
    transition: 0.4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.card-container {
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
}

.panel {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position:relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.activePanel {
    flex:5;
}

.panel.activePanel h3 {
    opacity: 1;
    
}

/* if screen under 480 */
@media(max-width: 480px) {
    .card-container {
        width: 100%;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}

/* ===============================================img slider */
.img-slider,
.slider,
.slides {
    height: 100%;
    width: 100%;
}

.img-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23e3c9;
    /* width: 800px;
    height: 500px; */
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
    position: relative;
}

.slides input {
    display: none;
}

.slide {
    height: 500px;
    width: 800px;
    transition: 2s;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* css for manual navigation */

.nav-manual {
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    align-self:flex-end;
    margin-bottom: 40px;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-left: 40px;
}

.manual-btn:hover{
    background-color: #40D3DC;
}

#radio1:checked ~ .first-slide {
    margin-left:0;
}

#radio2:checked ~ .first-slide {
    margin-left:-20%;
}

#radio3:checked ~ .first-slide {
    margin-left:-40%;
}

#radio4:checked ~ .first-slide {
    margin-left:-60%;
}
